<ion-header>
  <ion-navbar color="whatsapp">
    <ion-title>Profile</ion-title>

  </ion-navbar>
</ion-header>

<ion-content class="profile-page-content">
  <ion-card ion-item class="profile">
    <ion-card-content>
      <div class="profile-picture">
        <img *ngIf="picture" [src]="picture">
      </div>

      <ion-item >
        <h2 class="profile-name">{{profile.name}}</h2>
      </ion-item>
      <ion-item >
        <p class="profile-description">{{profile.description}}</p>
      </ion-item>

      <ion-item *ngIf="!(key === senderId)">
        <button ion-button block (click)="sendMessage()" >Написать сообщение</button>
      </ion-item>

     </ion-card-content>
   </ion-card>
</ion-content>
