<ion-header>
  <ion-navbar color="whatsapp">
    <button ion-button menuToggle>
       <ion-icon name="menu" ></ion-icon>
    </button>
    <ion-title>
      Event
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only class="settings-button" *ngIf="profileId == event.creatorId" (click)="editEvent()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="events-page-content">
    <ion-card ion-item class="event">
        <ion-card-content>
          <img class="event-picture" [src]="event.picture">
          <div class="event-info">
            <h2 class="event-name">{{event.name}}</h2>

            <span class="event-description">
              <p class="event-description-content">{{event.description}}</p>
              <span class="event-creator">{{event.creatorId}}  </span>
            </span>
         
            <span class="event-date-start">
               <p>Время начала: </p> <ion-item><ion-datetime disabled="true" displayFormat="MMM DD, YYYY HH:mm" [(ngModel)]="event.dateStart" ></ion-datetime></ion-item>
            </span>
            <span class="event-date-end">
               <p>Время окончания: </p> <ion-item><ion-datetime disabled="true" displayFormat="MMM DD, YYYY HH:mm" [(ngModel)]="event.dateEnd" ></ion-datetime></ion-item>
            </span>
          </div>
      </ion-card-content>
    </ion-card>
    <ion-list> 
    <ion-item>
        <ion-input type="text" placeholder="Текст вашего комментария" [(ngModel)]="newCommentText" ></ion-input>  
    </ion-item>
    <ion-item>
        <button ion-button icon-only (click)="addNewComment()" >
           <ion-icon name="send"  ></ion-icon>
    </button>            
    </ion-item>
    
    </ion-list>
    <ion-list class="comments" *ngIf="!loading">
      <ion-card *ngFor="let comment of comments | async" >
        <ion-card-content>
          <!--<img class="comment-picture" >-->
          <div class="comment-info">
            <h2 class="comment-username"> </h2>

            <span class="comment-description">
              <p class="comment-text">{{comment.text}}</p>
            </span>
          </div>
        </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>
